{% extends 'base.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
<div class="grid gap-2 p-2 xl:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
    {% for category in categories %}
    <div class="w-full bg-white border border-gray-200 shadow-2xs rounded-xl p-4 md:p-5 ">
        {{ category.name }}
      </div>
    {% endfor %}
</div>
{% endblock %}
