{% extends 'base.html.twig' %}

{% block title %}Hello CalcController!{% endblock %}

{% block body %}
    <h2>le résultat de l'opération :
        {{ operateur }}
    sur les nombres :
    {{ nbr1 }} et {{ nbr2 }}
    </h2>
    <h2>Résultat : 
        {{ resultat }}
    </h2>
{% endblock %}
