{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}
<turbo-frame id="id-article">
    <div>
        {{ form_start(form) }}
        {{ form_widget(form.title) }}
        {{ form_rest(form)}}
        {{ form_end(form) }}
    </div>
    {% include "composants/_toast.html.twig" %}
</turbo-frame>
{% endblock %}