{% extends 'base.html.twig' %}

{% block title %}Liste des comptes{% endblock %}

{% block body %}
    <div class="grid gap-2 p-2 xl:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
        {% for account in accounts %}
        <article id="{{ account.id }}"
        class="rounded-lg border border-gray-100 bg-white p-4 shadow-xs transition hover:shadow-lg sm:p-6"
        >
        <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
            {{ account.firstname}} | {{ account.lastname}}
        </p>
        <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
            {{ account.email}}
        </p>
        </article>
        {% endfor %}
    </div>
{% endblock %}
